.renderer.markdown-renderer.renderer-main {
    pre {
        padding: 10px;
        border-radius: 5px;
        overflow: auto;
    }
    a {
        color: #409eff;
    }
    a:hover {
        color: #66b1ff;
    }
    a:focus-visible {
        outline: 2px solid rgba(64, 158, 255, 0.5);
    }
    :not(pre) > code {
        padding: 2px 4px;
        margin-bottom: 4px;
        display: inline-block;
        border-radius: 4px;
        background-color: var(--code-bg, #f6f8fa);
    }
}
.renderer.markdown-renderer.renderer-main > :is(p, h1, h2, h3, h4, h5, h6):first-child {
    margin-top: 0;
}
.renderer.markdown-renderer.renderer-main > :is(p, h1, h2, h3, h4, h5, h6):last-child {
    margin-bottom: 0;
}
