.renderer.markdown-renderer.renderer-main {
    pre {
        padding: 10px;
        border-radius: 5px;
        overflow: auto;
    }
    p:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
        margin-top: 0;
    }
    p:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
        margin-bottom: 0;
    }
}
