*:disabled, *[disabled] {
    cursor: not-allowed;
}
a, button {
    cursor: pointer;
}
a:any-link {
    text-decoration: none;
}
a:any-link:hover {
    text-decoration: underline;
}

.flexible-space {
    flex: 1;
}

/* ------ */

.ant-layout {
    background: unset;
}

/* ------ */

