/* ------ */
/* Normalize */

*:disabled, *[disabled] {
    cursor: not-allowed;
}
*[hidden] {
    display: none !important;
}
a, button {
    cursor: pointer;
}
a:any-link {
    text-decoration: none;
}
a:any-link:hover {
    text-decoration: underline;
}

a {
    color: var(--link-color, blue);
}

.flexible-space {
    flex: 1;
}

:root {
    font-size: var(--ocw-font-size, unset);
}

/* ------ */
/* Layout */

.ant-layout {
    background: unset;
}

/* ------ */
/* App specific */

* {
    -webkit-tap-highlight-color: transparent;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.large { font-size: large }
.xl { font-size: x-large }
.xxl { font-size: xx-large }
.bold { font-weight: bold }

